<div id="item-catalog">
  <h1>{{ .WebPath }}</h1>
  <ul>
  {{ range .Files }}
    {{ if .IsDir }}
      <li class="item-dir"
          hx-get="/open{{ .WebPath }}"
          hx-push-url="/open{{ .WebPath }}"
          hx-target="#item-catalog"
          hx-swap="outerHTML">
        <span class="item-name">{{ .Name }}</span>
        <span class="item-size">{{ .PrettySize }}</span>
      </li>
    {{ end }}
  {{ end }}
  {{ range .Files }}
    {{ if not .IsDir }}
      <a href="/download{{ .WebPath }}">
        <li class="item-file">
          <span class="item-name">{{ .Name }}</span>
          <span class="item-size">{{ .PrettySize }}</span>
        </li>
      </a>
    {{ end }}
  {{ end }}
  </ul>
  <a class="download-button"
       {{ if eq .WebPath "/" }}
         href=""
       {{ else }}
         href=""
       {{ end }}>
    <span>Download All</span>
    <br>
    <span> {{ .PrettySize }}</span>
  </a>
</div>
